{% load staticfiles %}
<html ng-app="mainApp">
<head>
    <script src="{% static "js/angular.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/subjectController.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="nav-bar">
        <a class="-2" id="logo" href={% url 'home' %}>oyster</a>
        <span class="-7">
            <form>
                <label>Search</label><input type="text">
            </form>
        </span>
        <span class="-3">
            {% if user.is_authenticated %}
                {{ request.user.username }} <a href={% url 'profile' %}>Profile</a> | <a href={% url 'logout' %}>Logout</a>
            {% else %}
                <a href={% url 'register' %}>Register</a> | <a href={% url 'login' %}>Log In</a>
            {% endif %}
        </span>
    </div>


    {% block content %}{% endblock content %}
</body>
</html>