{% extends 'base_template.html' %}
{% load staticfiles%}

{% block head %}
<title>Oyster</title>
    <script src="{% static 'js/gridController.js' %}"></script>
{% endblock %}

{% block content %}
{#    <h1>The world is an oyster in your hands {{ name }}</h1>#}
{#    {% for subject in subjects %}#}
{#        <a href = "subject/{{ subject.id }}">{{ subject }}</a>#}
{#    {% endfor %}#}
<div ng-app="mainApp" ng-controller="gridController" class="container">
    <p ng-click="setNewReviews()">New Posts</p>
    <div class="row">

        <div class="col-md-2 subject-card">
            The Sky TEST
            4.92/5.0
            293 Votes
            542 Reviews
        </div>
        <div class="col-md-1">
            left
        </div>
        <div class="col-md-8">
            <div class="scroll-container">
                <div class="scroll-inner" ng-bind-html="updatedReviews">
                    <div class="scroll-review">
                        Lots of text 1
                    </div>
                    <div class="scroll-review">
                        Lots of text 2
                    </div>
                    <div class="scroll-review">
                        Jowl filet mignon spare ribs chicken bresaola corned beef andouille frankfurter leberkas salami. Drumstick ham porchetta salami pork loin bacon spare ribs flank pig hamburger chuck jowl strip steak boudin. Filet mignon pig doner, andouille jerky bacon swine chicken. Leberkas tenderloin meatball andouille hamburger. Strip steak picanha jowl t-bone.
                    </div>
                    <div class="scroll-review">
                        Bacon ipsum dolor amet swine pork chop beef, ham hock picanha tongue frankfurter doner. Strip steak chuck picanha, shoulder cupim fatback biltong. Leberkas rump fatback, ball tip venison salami boudin. Fatback shankle porchetta beef cow tail short ribs chicken landjaeger. Ham porchetta kevin venison jerky andouille kielbasa shank prosciutto. T-bone pancetta landjaeger brisket alcatra corned beef. Hamburger sirloin ham cupim, pastrami tail shankle.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            right
    </div>


        {% for x in "xxxxxx" %}

        <div class="col-md-2 subject-card">
            The Sky
            4.92/5.0
            293 Votes
            542 Reviews
        </div>
        <div class="col-md-1">
            left
        </div>
        <div class="col-md-8">
            <div class="scroll-container">
                <div class="scroll-inner">
                    <div class="scroll-review">
                        Lots of text 1
                    </div>
                    <div class="scroll-review">
                        Lots of text 2
                    </div>
                    <div class="scroll-review">
                        Jowl filet mignon spare ribs chicken bresaola corned beef andouille frankfurter leberkas salami. Drumstick ham porchetta salami pork loin bacon spare ribs flank pig hamburger chuck jowl strip steak boudin. Filet mignon pig doner, andouille jerky bacon swine chicken. Leberkas tenderloin meatball andouille hamburger. Strip steak picanha jowl t-bone.
                    </div>
                    <div class="scroll-review">
                        Bacon ipsum dolor amet swine pork chop beef, ham hock picanha tongue frankfurter doner. Strip steak chuck picanha, shoulder cupim fatback biltong. Leberkas rump fatback, ball tip venison salami boudin. Fatback shankle porchetta beef cow tail short ribs chicken landjaeger. Ham porchetta kevin venison jerky andouille kielbasa shank prosciutto. T-bone pancetta landjaeger brisket alcatra corned beef. Hamburger sirloin ham cupim, pastrami tail shankle.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            right
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
