{% extends 'base_template.html' %}
{% load staticfiles%}

{% block head_top %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

{% endblock %}

{% block head %}
<title>Oyster</title>
    <script src="{% static 'js/ng-infinite-scroll.js' %}"></script>

    <script src="{% static 'js/gridController.js' %}"></script>
{% endblock %}

{% block content %}
{#    <h1>The world is an oyster in your hands {{ name }}</h1>#}
{#    {% for subject in subjects %}#}
{#        <a href = "subject/{{ subject.id }}">{{ subject }}</a>#}
{#    {% endfor %}#}
<div ng-app="mainApp" ng-controller="gridController" class="container">
    <p ng-click="setNewReviews()">New Posts</p>
    <h4>Subjects Ordering</h4>
    <p ng-click="setRatedSubjects()">Toggle Scoring Subjects</p>
    <p ng-click="setVotedSubjects()">Toggle Voted Subjects</p>
    <div class="row" infinite-scroll="infiniteSubjects()" infinite-scroll-distance="0" >
        {% verbatim %}
        <div ng-repeat="subject in (filteredSubjects = (allSubjects | orderBy:subjectOrder | limitTo:subjectLimit))" >
            <div class="col-md-2 subject-card">
                {{ subject.name }}
                4.92/5.0
                293 Votes
                542 Reviews
            </div>
            <div class="col-md-1">
                left
            </div>
            <div class="col-md-8" data-id="{{ subject.id }}" >
                <div class="scroll-container" scrolly="getCurrentSubjectId({{ subject.id }})">
                    <div class="scroll-inner" >
                        <div ng-repeat="review in subject.reviews" class="scroll-review">
                            <h4>{{ review.title }}</h4>

                            <h5>
                                <a href="#">{{ review.author[0].username }}</a>
                            </h5>

                            <p>{{ review.review }}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1">
                right
            </div>


        </div>
    </div>


</div>
{% endverbatim %}

{% endblock content %}
